.additem {
    height: 100dvh;
    background-color: #8319BC;
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;
    overflow: scroll;

    h1 {
        color: white;
        font-family: sans-serif;
        align-self: center;
        font-size: 40px;
    }

    .imgcont {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        margin: 30px 0px 30px 0px;


        .imgholder {
            height: 180px;
            background-color: white;
            display: flex;
            justify-content: center;
            border-radius: 10px;
            overflow: hidden;

            img {
                // height: 160px;
                // height: 100%;
                // width: 100%;
                box-sizing: border-box;
                border-radius: 7px;
            }
        }

        .custom-upload-button {
            align-self: flex-end;
            border: none;
            border-radius: 8px;
            padding-right: 7px;
            display: flex;
            background-color: #E9A5F4;
            gap: 5px;
            align-items: center;
            font-weight: 900;
            font-size: medium;
            font-family: sans-serif;

            svg {
                background-color: #CD77E7;
                border-radius: 7px;
                padding: 2px;

            }
        }
    }

    .itemnamecont {
        // display: flex;
        margin-bottom: 20px;
        box-sizing: border-box;
        gap: 5px;

        div {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }


        div:nth-child(2) {
            margin-top: 16px;

            label {
                margin: 0px;
            }

            .typecont {
                // height: 37px;
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                gap: 5px;
                background-color: white;
                border-radius: 10px;
                margin-top: 6px;
                padding: 6px;

                label {
                    display: flex;
                    align-items: center;
                }

                input[type="radio"] {
                    display: none;
                }

                input[type="radio"]:checked+span {
                    background-color: #BB86FF;
                    transform: scale(1.09);
                }

                span {
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    color: transparent;
                    border-radius: 10px;
                    cursor: pointer;
                    transition: background-color 0.2s, transform 0.2s;
                    font-weight: 900;
                }

                span:hover {
                    background-color: #6b0fa8;
                }

                input[type="radio"]:focus+span {
                    outline: 2px solid #7ac3ff;
                }
            }
        }



        label {
            color: white;
            font-size: 24px;
            font-family: sans-serif;
            font-weight: 900;
            margin-bottom: 6px;
        }

        input {
            height: 37px;
            border-radius: 10px;
            border: none;
            font-size: 20px;
            padding: 0px 10px;
        }

    }

    .itemvariantcont {
        display: flex;
        flex-direction: column;

        label {
            color: white;
            font-size: 24px;
            font-family: sans-serif;
            font-weight: 900;
            margin-bottom: 6px;
        }

        .varprice {
            display: flex;
            gap: 6px;
            box-sizing: border-box;
            margin-bottom: 4px;

            input {
                height: 37px;
                border-radius: 10px;
                border: none;
                flex-grow: 1;
                font-size: large;
                min-width: 0;
                padding: 0px 10px;
            }

            .rpsign {
                position: relative;
                display: flex;

                span {
                    box-sizing: border-box;
                    height: 100%;
                    text-align: center;
                    background-color: #FEE9FF;
                    border: 1px solid black;
                    position: absolute;
                    left: 00px;
                    line-height: 1.6;
                    font-size: 25px;
                    border-radius: 10px;
                    padding: 0px 6px;
                    font-family: sans-serif;
                }

                input {
                    box-sizing: border-box;
                    width: 80px;
                    text-align: left;
                    padding-left: 29px;
                    font-size: 20px;
                    font-weight: 600;

                }
            }

            button {
                height: 35px;
                aspect-ratio: 1;
                border-radius: 50%;
                border: none;
                background-color: #EA2D40;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        }

        .morevariant {
            background-color: transparent;
            border: 2px solid white;
            border-radius: 10px;
            color: white;
            font-size: 30px;
        }
    }

    .custom-save-button {
        margin: 40px 0px 0px 0px;
        border: none;
        border-radius: 8px;
        padding-right: 7px;
        display: flex;
        background-color: #75FF00;
        gap: 5px;
        align-items: center;
        font-weight: 900;
        font-size: medium;
        font-family: sans-serif;

        svg {
            background-color: #64BC19;
            border-radius: 7px;
            padding: 2px;
        }

        &:active {
            background-color: #468f06;
            color: white;
        }
        &:disabled {
            background-color: #75FF00;
            color: #77ac49;
    
            svg {
                animation: rotate 1s ease-in-out infinite;
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45);
            }
            
            border-radius: 20px 9px 9px 20px;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.45) inset;
        }
    }

    .submition-status{
        width: max-content;
        position: fixed;
        right: 30px;
        top: 30px;
        padding: 10px;
        border-radius: 10px;
        font-family: sans-serif;
        font-weight: 400;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}