.authenticationloader {
    background-color: #8319BC;
    // background: linear-gradient(45deg, #8C52FF, #9E72C3);
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 70px;

    .authloader {

        width: 90px;
        aspect-ratio: 1;
        border-radius: 50%;
        background: #75ff00;
        box-shadow: 0 0 0 0 rgba(117, 255, 0, 0.5);
        animation: l1 1s infinite;


        @keyframes l1 {
            100% {
                box-shadow: 0 0 0 60px rgba(117, 255, 10, 0.5)
            }
        }
    }
    
    p{
        color: white;
        font-family: sans-serif;
        font-size: 23px;
        font-weight: 300;
    }
}